<?xml version="1.0" encoding="utf-8"?>
<menu dateTime="132186190576646702">
  <catTitle name="Adhesive &amp; Adhesive Tapes" class="styleProductGroupTop">
    <catHead name="Stationery Glues and Tape" aLink="SelectedHead.aspx?S=10445460" class="styleProductGroupHead" id="10445460">
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Arts &amp; Crafts" class="styleProductGroupTop">
    <catHead name="Colouring Products" aLink="SelectedHead.aspx?S=10445454" class="styleProductGroupHead" id="10445454">
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Drawing Books" aLink="FindCategory.aspx?SelectedGroup=Drawing+Books" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Oil Pastels" aLink="FindCategory.aspx?SelectedGroup=Oil+Pastels" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
      <category name="Wax Crayons" aLink="FindCategory.aspx?SelectedGroup=Wax+Crayons" class="styleProductGroup" />
    </catHead>
    <catHead name="Pens Pencils and Markers" aLink="SelectedHead.aspx?S=10445457" class="styleProductGroupHead" id="10445457">
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Erasers" aLink="FindCategory.aspx?SelectedGroup=Erasers" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
    </catHead>
    <catHead name="Stationery Glues and Tape" aLink="SelectedHead.aspx?S=10445460" class="styleProductGroupHead" id="10445460">
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Bags and luggage store" class="styleProductGroupTop">
    <catHead name="Notebook Bags and Cases" aLink="SelectedHead.aspx?S=10445424" class="styleProductGroupHead" id="10445424">
      <category name="Notebook Trolley Bags" aLink="FindCategory.aspx?SelectedGroup=Notebook+Trolley+Bags" class="styleProductGroup" />
      <category name="Student Backpacks" aLink="FindCategory.aspx?SelectedGroup=Student+Backpacks" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Books, Pads &amp; Carbon" class="styleProductGroupTop">
    <catHead name="Book Labels and Covers " aLink="SelectedHead.aspx?S=10445452" class="styleProductGroupHead" id="10445452">
      <category name="Book Covers - Brown Kraft" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Brown+Kraft" class="styleProductGroup" />
      <category name="Book Covers - Plastic" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Plastic" class="styleProductGroup" />
      <category name="Book Covers - Precut" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Precut" class="styleProductGroup" />
      <category name="Book Covers - Slipon" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Slipon" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Star Labels" aLink="FindCategory.aspx?SelectedGroup=Star+Labels" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Consumables" class="styleProductGroupTop">
    <catHead name="Office Products " aLink="SelectedHead.aspx?S=10445426" class="styleProductGroupHead" id="10445426">
      <category name="Laminators" aLink="FindCategory.aspx?SelectedGroup=Laminators" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Shredders" aLink="FindCategory.aspx?SelectedGroup=Shredders" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Notebook Battery Store" class="styleProductGroupTop">
    <catHead name="Notebook Bags and Cases" aLink="SelectedHead.aspx?S=10445424" class="styleProductGroupHead" id="10445424">
      <category name="Notebook Trolley Bags" aLink="FindCategory.aspx?SelectedGroup=Notebook+Trolley+Bags" class="styleProductGroup" />
      <category name="Student Backpacks" aLink="FindCategory.aspx?SelectedGroup=Student+Backpacks" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Notebook Store" class="styleProductGroupTop">
    <catHead name="Notebook Bags and Cases" aLink="SelectedHead.aspx?S=10445424" class="styleProductGroupHead" id="10445424">
      <category name="Notebook Trolley Bags" aLink="FindCategory.aspx?SelectedGroup=Notebook+Trolley+Bags" class="styleProductGroup" />
      <category name="Student Backpacks" aLink="FindCategory.aspx?SelectedGroup=Student+Backpacks" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Office Machine &amp; Accessories" class="styleProductGroupTop">
    <catHead name="Calculators" aLink="SelectedHead.aspx?S=10445453" class="styleProductGroupHead" id="10445453">
      <category name="Desktop Calculators" aLink="FindCategory.aspx?SelectedGroup=Desktop+Calculators" class="styleProductGroup" />
    </catHead>
    <catHead name="Filing and Folders" aLink="SelectedHead.aspx?S=10445455" class="styleProductGroupHead" id="10445455">
      <category name="A4 File Divider" aLink="FindCategory.aspx?SelectedGroup=A4+File+Divider" class="styleProductGroup" />
      <category name="Accessible Files" aLink="FindCategory.aspx?SelectedGroup=Accessible+Files" class="styleProductGroup" />
      <category name="Desk Cubes and Refills" aLink="FindCategory.aspx?SelectedGroup=Desk+Cubes+and+Refills" class="styleProductGroup" />
      <category name="Display Books/Flip Files" aLink="FindCategory.aspx?SelectedGroup=Display+Books%2fFlip+Files" class="styleProductGroup" />
      <category name="Filing Sleeves and Pockets" aLink="FindCategory.aspx?SelectedGroup=Filing+Sleeves+and+Pockets" class="styleProductGroup" />
      <category name="Lever Arch Storage" aLink="FindCategory.aspx?SelectedGroup=Lever+Arch+Storage" class="styleProductGroup" />
      <category name="Report Folders" aLink="FindCategory.aspx?SelectedGroup=Report+Folders" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
    </catHead>
    <catHead name="Office Supplies " aLink="SelectedHead.aspx?S=10445462" class="styleProductGroupHead" id="10445462">
      <category name="A4 File Divider" aLink="FindCategory.aspx?SelectedGroup=A4+File+Divider" class="styleProductGroup" />
      <category name="A5 Quad Margin Books" aLink="FindCategory.aspx?SelectedGroup=A5+Quad+Margin+Books" class="styleProductGroup" />
      <category name="Accessible Files" aLink="FindCategory.aspx?SelectedGroup=Accessible+Files" class="styleProductGroup" />
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Counter Books" aLink="FindCategory.aspx?SelectedGroup=Counter+Books" class="styleProductGroup" />
      <category name="Desk Cubes and Refills" aLink="FindCategory.aspx?SelectedGroup=Desk+Cubes+and+Refills" class="styleProductGroup" />
      <category name="Desktop Calculators" aLink="FindCategory.aspx?SelectedGroup=Desktop+Calculators" class="styleProductGroup" />
      <category name="Display Books/Flip Files" aLink="FindCategory.aspx?SelectedGroup=Display+Books%2fFlip+Files" class="styleProductGroup" />
      <category name="Filing Sleeves and Pockets" aLink="FindCategory.aspx?SelectedGroup=Filing+Sleeves+and+Pockets" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Laminating Machines" aLink="FindCategory.aspx?SelectedGroup=Laminating+Machines" class="styleProductGroup" />
      <category name="Laminating Pouches" aLink="FindCategory.aspx?SelectedGroup=Laminating+Pouches" class="styleProductGroup" />
      <category name="Laminators" aLink="FindCategory.aspx?SelectedGroup=Laminators" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Punches" aLink="FindCategory.aspx?SelectedGroup=Punches" class="styleProductGroup" />
      <category name="Rulers" aLink="FindCategory.aspx?SelectedGroup=Rulers" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
      <category name="Shredders" aLink="FindCategory.aspx?SelectedGroup=Shredders" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
    <catHead name="Punches and Staplers" aLink="SelectedHead.aspx?S=10445458" class="styleProductGroupHead" id="10445458">
      <category name="Punches" aLink="FindCategory.aspx?SelectedGroup=Punches" class="styleProductGroup" />
    </catHead>
    <catHead name="Stationery Glues and Tape" aLink="SelectedHead.aspx?S=10445460" class="styleProductGroupHead" id="10445460">
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Scholastic Supplies" class="styleProductGroupTop">
    <catHead name="Book Labels and Covers " aLink="SelectedHead.aspx?S=10445452" class="styleProductGroupHead" id="10445452">
      <category name="Book Covers - Brown Kraft" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Brown+Kraft" class="styleProductGroup" />
      <category name="Book Covers - Plastic" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Plastic" class="styleProductGroup" />
      <category name="Book Covers - Precut" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Precut" class="styleProductGroup" />
      <category name="Book Covers - Slipon" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Slipon" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Star Labels" aLink="FindCategory.aspx?SelectedGroup=Star+Labels" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
    </catHead>
    <catHead name="Calculators" aLink="SelectedHead.aspx?S=10445453" class="styleProductGroupHead" id="10445453">
      <category name="Desktop Calculators" aLink="FindCategory.aspx?SelectedGroup=Desktop+Calculators" class="styleProductGroup" />
    </catHead>
    <catHead name="Colouring Products" aLink="SelectedHead.aspx?S=10445454" class="styleProductGroupHead" id="10445454">
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Drawing Books" aLink="FindCategory.aspx?SelectedGroup=Drawing+Books" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Oil Pastels" aLink="FindCategory.aspx?SelectedGroup=Oil+Pastels" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
      <category name="Wax Crayons" aLink="FindCategory.aspx?SelectedGroup=Wax+Crayons" class="styleProductGroup" />
    </catHead>
    <catHead name="Filing and Folders" aLink="SelectedHead.aspx?S=10445455" class="styleProductGroupHead" id="10445455">
      <category name="A4 File Divider" aLink="FindCategory.aspx?SelectedGroup=A4+File+Divider" class="styleProductGroup" />
      <category name="Accessible Files" aLink="FindCategory.aspx?SelectedGroup=Accessible+Files" class="styleProductGroup" />
      <category name="Desk Cubes and Refills" aLink="FindCategory.aspx?SelectedGroup=Desk+Cubes+and+Refills" class="styleProductGroup" />
      <category name="Display Books/Flip Files" aLink="FindCategory.aspx?SelectedGroup=Display+Books%2fFlip+Files" class="styleProductGroup" />
      <category name="Filing Sleeves and Pockets" aLink="FindCategory.aspx?SelectedGroup=Filing+Sleeves+and+Pockets" class="styleProductGroup" />
      <category name="Lever Arch Storage" aLink="FindCategory.aspx?SelectedGroup=Lever+Arch+Storage" class="styleProductGroup" />
      <category name="Report Folders" aLink="FindCategory.aspx?SelectedGroup=Report+Folders" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
    </catHead>
    <catHead name="Pencil Bags and Sets" aLink="SelectedHead.aspx?S=10445456" class="styleProductGroupHead" id="10445456">
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Maths Sets" aLink="FindCategory.aspx?SelectedGroup=Maths+Sets" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
    </catHead>
    <catHead name="Pens Pencils and Markers" aLink="SelectedHead.aspx?S=10445457" class="styleProductGroupHead" id="10445457">
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Erasers" aLink="FindCategory.aspx?SelectedGroup=Erasers" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
    </catHead>
    <catHead name="Punches and Staplers" aLink="SelectedHead.aspx?S=10445458" class="styleProductGroupHead" id="10445458">
      <category name="Punches" aLink="FindCategory.aspx?SelectedGroup=Punches" class="styleProductGroup" />
    </catHead>
    <catHead name="School Stationery" aLink="SelectedHead.aspx?S=10445459" class="styleProductGroupHead" id="10445459">
      <category name="A4 File Divider" aLink="FindCategory.aspx?SelectedGroup=A4+File+Divider" class="styleProductGroup" />
      <category name="A5 Quad Margin Books" aLink="FindCategory.aspx?SelectedGroup=A5+Quad+Margin+Books" class="styleProductGroup" />
      <category name="Aprons " aLink="FindCategory.aspx?SelectedGroup=Aprons+" class="styleProductGroup" />
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Book Bags" aLink="FindCategory.aspx?SelectedGroup=Book+Bags" class="styleProductGroup" />
      <category name="Book Covers - Brown Kraft" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Brown+Kraft" class="styleProductGroup" />
      <category name="Book Covers - Plastic" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Plastic" class="styleProductGroup" />
      <category name="Book Covers - Precut" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Precut" class="styleProductGroup" />
      <category name="Book Covers - Slipon" aLink="FindCategory.aspx?SelectedGroup=Book+Covers+-+Slipon" class="styleProductGroup" />
      <category name="Chalk Boards Accessories" aLink="FindCategory.aspx?SelectedGroup=Chalk+Boards+Accessories" class="styleProductGroup" />
      <category name="Clays and Doughs" aLink="FindCategory.aspx?SelectedGroup=Clays+and+Doughs" class="styleProductGroup" />
      <category name="College and Exercise" aLink="FindCategory.aspx?SelectedGroup=College+and+Exercise" class="styleProductGroup" />
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Counter Books" aLink="FindCategory.aspx?SelectedGroup=Counter+Books" class="styleProductGroup" />
      <category name="Display Books/Flip Files" aLink="FindCategory.aspx?SelectedGroup=Display+Books%2fFlip+Files" class="styleProductGroup" />
      <category name="Educational Board" aLink="FindCategory.aspx?SelectedGroup=Educational+Board" class="styleProductGroup" />
      <category name="Erasers" aLink="FindCategory.aspx?SelectedGroup=Erasers" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Maths Sets" aLink="FindCategory.aspx?SelectedGroup=Maths+Sets" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Rulers" aLink="FindCategory.aspx?SelectedGroup=Rulers" class="styleProductGroup" />
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
      <category name="Star Labels" aLink="FindCategory.aspx?SelectedGroup=Star+Labels" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Wax Crayons" aLink="FindCategory.aspx?SelectedGroup=Wax+Crayons" class="styleProductGroup" />
    </catHead>
    <catHead name="Stationery Glues and Tape" aLink="SelectedHead.aspx?S=10445460" class="styleProductGroupHead" id="10445460">
      <category name="School Glue Sticks" aLink="FindCategory.aspx?SelectedGroup=School+Glue+Sticks" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
    <catHead name="Student/Office Bags" aLink="SelectedHead.aspx?S=10445461" class="styleProductGroupHead" id="10445461">
      <category name="Book Bags" aLink="FindCategory.aspx?SelectedGroup=Book+Bags" class="styleProductGroup" />
      <category name="Notebook Trolley Bags" aLink="FindCategory.aspx?SelectedGroup=Notebook+Trolley+Bags" class="styleProductGroup" />
      <category name="Student  Trolley Backpacks" aLink="FindCategory.aspx?SelectedGroup=Student++Trolley+Backpacks" class="styleProductGroup" />
      <category name="Student Backpacks" aLink="FindCategory.aspx?SelectedGroup=Student+Backpacks" class="styleProductGroup" />
    </catHead>
  </catTitle>
  <catTitle name="Writing &amp; Correction" class="styleProductGroupTop">
    <catHead name="Office Supplies " aLink="SelectedHead.aspx?S=10445462" class="styleProductGroupHead" id="10445462">
      <category name="A4 File Divider" aLink="FindCategory.aspx?SelectedGroup=A4+File+Divider" class="styleProductGroup" />
      <category name="A5 Quad Margin Books" aLink="FindCategory.aspx?SelectedGroup=A5+Quad+Margin+Books" class="styleProductGroup" />
      <category name="Accessible Files" aLink="FindCategory.aspx?SelectedGroup=Accessible+Files" class="styleProductGroup" />
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Counter Books" aLink="FindCategory.aspx?SelectedGroup=Counter+Books" class="styleProductGroup" />
      <category name="Desk Cubes and Refills" aLink="FindCategory.aspx?SelectedGroup=Desk+Cubes+and+Refills" class="styleProductGroup" />
      <category name="Desktop Calculators" aLink="FindCategory.aspx?SelectedGroup=Desktop+Calculators" class="styleProductGroup" />
      <category name="Display Books/Flip Files" aLink="FindCategory.aspx?SelectedGroup=Display+Books%2fFlip+Files" class="styleProductGroup" />
      <category name="Filing Sleeves and Pockets" aLink="FindCategory.aspx?SelectedGroup=Filing+Sleeves+and+Pockets" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Laminating Machines" aLink="FindCategory.aspx?SelectedGroup=Laminating+Machines" class="styleProductGroup" />
      <category name="Laminating Pouches" aLink="FindCategory.aspx?SelectedGroup=Laminating+Pouches" class="styleProductGroup" />
      <category name="Laminators" aLink="FindCategory.aspx?SelectedGroup=Laminators" class="styleProductGroup" />
      <category name="Multi-purpose Scissors" aLink="FindCategory.aspx?SelectedGroup=Multi-purpose+Scissors" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Punches" aLink="FindCategory.aspx?SelectedGroup=Punches" class="styleProductGroup" />
      <category name="Rulers" aLink="FindCategory.aspx?SelectedGroup=Rulers" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
      <category name="Shredders" aLink="FindCategory.aspx?SelectedGroup=Shredders" class="styleProductGroup" />
      <category name="Tape - Clear" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Clear" class="styleProductGroup" />
      <category name="Tape - Dispenser" aLink="FindCategory.aspx?SelectedGroup=Tape+-+Dispenser" class="styleProductGroup" />
      <category name="Tape -Packaging" aLink="FindCategory.aspx?SelectedGroup=Tape+-Packaging" class="styleProductGroup" />
    </catHead>
    <catHead name="Pencil Bags and Sets" aLink="SelectedHead.aspx?S=10445456" class="styleProductGroupHead" id="10445456">
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Maths Sets" aLink="FindCategory.aspx?SelectedGroup=Maths+Sets" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
    </catHead>
    <catHead name="Pens Pencils and Markers" aLink="SelectedHead.aspx?S=10445457" class="styleProductGroupHead" id="10445457">
      <category name="Ballpoint Pens" aLink="FindCategory.aspx?SelectedGroup=Ballpoint+Pens" class="styleProductGroup" />
      <category name="Coloured Pencils - Sets" aLink="FindCategory.aspx?SelectedGroup=Coloured+Pencils+-+Sets" class="styleProductGroup" />
      <category name="Erasers" aLink="FindCategory.aspx?SelectedGroup=Erasers" class="styleProductGroup" />
      <category name="Gel Pens" aLink="FindCategory.aspx?SelectedGroup=Gel+Pens" class="styleProductGroup" />
      <category name="Paint Marker Pens" aLink="FindCategory.aspx?SelectedGroup=Paint+Marker+Pens" class="styleProductGroup" />
      <category name="Pencil Boxes and Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Boxes+and+Cases" class="styleProductGroup" />
      <category name="Pencil Cases" aLink="FindCategory.aspx?SelectedGroup=Pencil+Cases" class="styleProductGroup" />
      <category name="Pencil Leads" aLink="FindCategory.aspx?SelectedGroup=Pencil+Leads" class="styleProductGroup" />
      <category name="Pencils" aLink="FindCategory.aspx?SelectedGroup=Pencils" class="styleProductGroup" />
      <category name="Pencils Clutch" aLink="FindCategory.aspx?SelectedGroup=Pencils+Clutch" class="styleProductGroup" />
      <category name="Sharpeners" aLink="FindCategory.aspx?SelectedGroup=Sharpeners" class="styleProductGroup" />
    </catHead>
  </catTitle>
</menu>
